<form>
  <div>
    <label for="input1">Input 1</label>
    <input type="text" id="input1" />
  </div>
  <div>
    <label for="input1">Input 2</label>
    <input type="text" id="input2" />
  </div>
</form>